*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.main{
    width: 100%;
    background:  url(bab2.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
}
.navbar{
    display: flex;
    width:  5000px;
    height: auto;
    background: white;
    margin-bottom: 680px;
}

.imglogo{
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.KTI{
    font-size: 25px;
    margin-top: 35px;
    margin-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(83, 87, 128);
    font-weight: bold;
}

.menu{
    width: 900px;
    float: left;
    height: 70px;
    background: white;
    margin-top: 15px;
    
}

.ul{
    float: left;
    display: flex;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding-left: 30px;

}

ul li{
    list-style: none;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    background: white;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: .3s ease;
}


ul li a:hover{
    color: rgb(15, 140, 197);
}

.AI{
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}
footer{
    background-color: black;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}


.list{
    list-style: none;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.list  a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: .3s ease;
}


.list a:hover{
    color: rgb(15, 140, 197);
}

.socialicons{
    display: flex;
    justify-content:center ;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effects on Social Media Icons */
.socialicons a:hover{
    background-color: black;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: aliceblue;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    font-family: c;
}

.footerBottom{
    background: #111;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



.isi{
    background: #111;
}

.t1{
    color: white;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 50px;
   
}

.tema1{
    font-size: 25pt;  
    font-weight: bold; 
}


.teori{
    font-size: 18pt;
    margin-top: 10px;
    text-align: justify;
}

.g2{
    width: 300px;
    margin-top: 50px;
    margin-right: 100px;
    
}

.img1{
    display: flex;
}

.tujuan{
    color: aqua;
    margin-left: 20px;
   font-size: 18pt;
}

.spanatas{
    color: aqua;
}

.g3{
    margin-left: 20px;
    width: 500px;
    margin-top: 50px;
    
}

.teori2{
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    margin-right: 20px;
}

.img2{
    display: flex;
}

.t2{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.mb1{
    font-size: 18pt;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.g1{
    width: 1550px;
    margin-left: 61px;
    margin-top: 50px;
    
}

.teori4{
    font-size: 18pt;
    margin-top: 10px;
    color: aqua;
}

.g4{
    margin-left: 20px;
    width: 500px;
    margin-top: 38px;
}

.g5{
    width: 500px;
    margin-top: 140px;
    margin-right: 100px;
}
.video{
    margin-left: 20px;
    width: 500px;
    margin-top: 50px;
}

.MP{
    font-size: 50pt;
    color: aqua;
   margin-left: 580px;
}

.MPisi{
    font-size: 18pt;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    text-align: justify;
}

.video1{
    margin-top: 90px;
}

